@model AssetManager.Models.AssetListModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Asset Manager</h1>
    <p class="lead">The crude ASP MVC 5 asset manager</p>
</div>

<div class="row">
    <h3>Assets</h3>
    <table class="table table-hover table-striped">
        <thead>
            <th>Name</th>
            <th>Group</th>
            <th><a class="btn btn-success" href="@Url.Action("Add", "Asset")">Add</a></th>
        </thead>
        <tbody>
            @{
                foreach (var asset in Model.Assets)
                {
                    <tr>
                        <td class="col-xs-6">@Html.ActionLink(asset.Name, "View", "Asset", new { assetId = asset.Id }, null)</td>
                        <td class="col-xs-5">@asset.Group.Name</td>
                        <td class="col-xs-1"><button class="btn btn-danger" href="#" data-href="@Url.Action("Delete", "Asset", new {id = asset.Id})" data-toggle="modal" data-target="#confirm-delete">Remove</button></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Delete
                </div>
                <div class="modal-body">
                    Are you sure to delete this asset?
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger">Delete</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('#confirm-delete').on('show.bs.modal', function (e) {
            $(this).find('.btn-danger').attr('href', $(e.relatedTarget).data('href'));
        });
    </script>
</div>